# general node stuff
node_modules

# general node stuff
bower_components

# general python stuff
venv
venv3
_trial_temp
*.pyc

# general ruby stuff
.bundle
Gemfile.lock
# don't ignore bundler and rvm settings
# .ruby*

# general elm stuff
elm-stuff

# tmp stuff
tmp
wip
*.ignore

# jekyll intermediates
_site
.sass-cache
.jekyll-metadata
