# general node stuff
node_modules

# general node stuff
bower_components

# general python stuff
venv
venv3
_trial_temp
*.pyc
__pycache__

# general ruby stuff
.bundle
Gemfile.lock
# don't ignore bundler and rvm settings
# .ruby*

# general editor stuff
elm-stuff
.vscode

# tmp stuff
tmp
wip
*.ignore
example_source

# jekyll intermediates
_site
.sass-cache
.jekyll-metadata
.jekyll-cache