<p>
  LittleCodingKata is my collect my programming exercises, research and code toys broadly spanning things that relate to programming and software development (that includes languages, frameworks and tools).
</p>
<p>
  These may range from the trivial to the complex and serious. Many will be inspired by existing work and I'll note the credits and references where applicable. And it will appear quite scatter-brained, as I variously work on things new and important in the moment, or go back to revisit things from the past.
</p>
<p>
  This is primarily a personal collection for my own edification and learning, but anyone who stumbles by is welcome to borrow, steal or reference the work here. And if you spot errors or issues I'd really appreciate some feedback - create an issue, send me an email or even send a pull-request.
</p>
