<h1>Request Details</h1>
<table class="req">
  <thead>
    <th>Name</th>
    <th>Value</th>
  </thead>
  <tbody>
    <% @env.each do |name, value| %>
    <tr>
      <td><%= h name %></td>
      <td><%= h value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
